<%- include("partials/header.ejs")%>
    <%- include("partials/prelogin.ejs")%>
        <main>
            <div id="welcome">
                <h1>Welcome&nbsp; to&nbsp; BlogRead</h1>
            </div>
        </main>

        <%- include("partials/footer.ejs")%>